@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        background-image: url('./assets/bg.png');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        @apply min-h-screen text-gray-700 font-sans;
    }
}